# Security
SECRET_KEY=**FIXME**
TOKEN_SECRET_KEY=**FIXME**

# Database
DB_PASSWORD=**FIXME**

# Elastic
ELASTIC_API_KEY=**FIXME**
ELASTIC_PASSWORD=**FIXME**
KIBANA_PASSWORD=**FIXME**

# Telegram
TELEGRAM_API_TOKEN=**FIXME**

# Redis
REDIS_PASSWORD=**FIXME**